USE [QLRP]
GO
/****** Object:  Table [dbo].[HangSX]    Script Date: 5/30/2023 9:43:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangSX](
	[MaHangSX] [nvarchar](255) NULL,
	[TenHangSX] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NuocSX]    Script Date: 5/30/2023 9:43:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NuocSX](
	[MaNuocSX] [nvarchar](255) NULL,
	[TenNuocSX] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 5/30/2023 9:43:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[MaPhim] [nvarchar](255) NULL,
	[TenPhim] [nvarchar](255) NULL,
	[MaNuocSX] [float] NULL,
	[MaHangSX] [nvarchar](255) NULL,
	[DaoDien] [nvarchar](255) NULL,
	[MaTheLoai] [nvarchar](255) NULL,
	[NgayKhoiChieu] [nvarchar](255) NULL,
	[NgayKetThuc] [nvarchar](255) NULL,
	[DVChinh] [nvarchar](255) NULL,
	[ChiPhi] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 5/30/2023 9:43:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [nvarchar](255) NULL,
	[TenTheLoai] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[HangSX] ([MaHangSX], [TenHangSX]) VALUES (N'OF11', N'Original Film')
INSERT [dbo].[HangSX] ([MaHangSX], [TenHangSX]) VALUES (N'WD12', N'Walt Disney Pictures')
INSERT [dbo].[HangSX] ([MaHangSX], [TenHangSX]) VALUES (N'AP13', N'Arunuchai Panupan')
GO
INSERT [dbo].[NuocSX] ([MaNuocSX], [TenNuocSX]) VALUES (N'USA', N'Mỹ')
INSERT [dbo].[NuocSX] ([MaNuocSX], [TenNuocSX]) VALUES (N'TL', N'Thái Lan')
INSERT [dbo].[NuocSX] ([MaNuocSX], [TenNuocSX]) VALUES (N'VN', N'Việt Nam')
GO
INSERT [dbo].[Phim] ([MaPhim], [TenPhim], [MaNuocSX], [MaHangSX], [DaoDien], [MaTheLoai], [NgayKhoiChieu], [NgayKetThuc], [DVChinh], [ChiPhi]) VALUES (N'FF01', N'Fast and Furious 10', 1, N'OF11', N'Louis Leterrier', N'AC01', N'19/05/2023', N'19/06/2023', N'Vin Diesel', N'340 triệu USD')
INSERT [dbo].[Phim] ([MaPhim], [TenPhim], [MaNuocSX], [MaHangSX], [DaoDien], [MaTheLoai], [NgayKhoiChieu], [NgayKetThuc], [DVChinh], [ChiPhi]) VALUES (N'LM02', N'The Little Mermaid', 1, N'WD12', N'Rob Marshall', N'AV02', N'26/05/2023', N'26/07/2023', N'Halle Bailey', N'250 triệu USD')
INSERT [dbo].[Phim] ([MaPhim], [TenPhim], [MaNuocSX], [MaHangSX], [DaoDien], [MaTheLoai], [NgayKhoiChieu], [NgayKetThuc], [DVChinh], [ChiPhi]) VALUES (N'LD03', N'Love Destiny', 66, N'AP13', N'Pawat Panangkasri', N'HH03', N'19/10/2022', N'19/11/2022', N'Ranee Campen', N'200 triệu USD')
GO
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'AC01', N'Hành động')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'AV02', N'Phiêu lưu')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'HH03', N'Hài hước')
GO
